.asidebar-container {
    width: 362px;
    height: 100vh;
    padding: 3rem 1rem;
    border: 1px;
    background-color: $white-color;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    gap: 5rem;

    @media (max-width: 1150px) {
        width: 80px;
        align-items: center;
    }

    section {
        display: flex;
        align-items: center;
        justify-content: center;


        @media (max-width: 1150px) {
            width: 53px;
            height: 53px;
        }

        img {

            @media (max-width: 1150px) {
                display: none;
            }
        }

        .asidebar-logo-mobile {
            display: none;
            width: 53px;
            height: 53px;
            padding: 0;
            border-radius: $card-borderRadius;
            background-color: $dark-violet;
            align-items: center;
            justify-content: center;

            @media (max-width: 1150px) {
                width: 100%;
                display: flex;
            }
        }
    }

    nav {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        flex-direction: column;
        width: 100%;

        ul {
            list-style: none;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            gap: 1rem;
            flex-direction: column;
            width: 90%;

            @media (max-width: 1150px) {
                align-items: center;
            }

            li {
                min-height: 53px;
                display: flex;
                align-items: center;
                gap: 1rem;
                background-color: unset;
                position: relative;
                right: 2rem;
                padding: 0 2rem;
                border-radius: 0px 50px 50px 0px;
                transition: background 0.5s ease-in;
                font: $heading-fontsize-xs;

                @media (max-width: 1150px) {
                    width: 53px;
                    height: 53px;
                    padding: 0;
                    border-radius: $card-borderRadius;
                    position: unset;
                    right: unset;
                    padding: 0;
                    justify-content: center;
                }

                span {
                    font: $heading-fontsize-xs;

                    @media (max-width: 1150px) {
                        display: none;
                    }

                }

                &:hover {
                    background-color: $light-violet;
                }
            }

            a {
                text-decoration: none;
                color: $black-color;

                @media (max-width: 1150px) {
                    width: 53px;
                    height: 53px;
                    padding: 0;
                    border: $card-border;
                    border-radius: $card-borderRadius;
                }
            }

            a.active li {
                background-color: $light-violet;
            }
        }

    }
}