.customInputFile-input {
    width: 0;
    height: 0;
}

.customInputFile-label {
    min-width: 182px;
    height: 54px;
    overflow: hidden;
    font: $heading-fontsize-xs;
    font-weight: 500;
    border-radius: $card-borderRadius;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    background-color: $white-color;
    border: $card-border;
    color: $dark-violet;
    position: relative;

    svg {
        path {
            fill: $dark-violet;
            color: $dark-violet;
        }
    }

    &:hover {
        color: $white-color;

        svg {
            path {
                fill: $white-color;
                color: $white-color;
            }
        }
    }

    input {
        width: 70%;
        height: 100%;    
        padding: 0.5rem 1rem;
        outline: none;
        border: none;

    }

    .customInputFile-button {
        min-width: 25%;
        height: 80%;
        background-color: $dark-violet;
        color: $white-color;
        font: $heading-fontsize-xs;
        border-radius: $card-borderRadius;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        padding: 0 0.5rem;

        svg {
            path {
                fill: $white-color;
            }
        }
    
    }
}

.customInputFile-label-active {
    color: $white-color;

    svg {
        path {
            fill: $white-color;
        }
    }

    &::after {
        color:  $dark-violet;
    }
}