.customInput-container {
    height: 44px;
    min-width: 341px;
    border-radius: 5px;
    border: $card-border;
    padding: 1rem;
    font: $heading-fontsize-xs;
    font-weight: 400;
    font-size: 16px;
}