.newGoalButton-container {
    width: 142px;
    height: 100%;
    border-radius: $card-borderRadius;
    padding: 12px 20px 12px 20px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background: $background-buttonDefault;
    color: $white-color;
    font: $heading-fontsize-xs;
    cursor: pointer;
}

.newGoalModal-container {
    position: fixed;
    top: 0;
    width: 100%;
    right: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;

    .newGoalModal-background {
        position: absolute;
        top: 0;
        width: 100%;
        right: 0;
        background: #00000078;
        z-index: 101;
        height: 100vh;
    }
}