.savingsGoals-container {
    min-height: 611px;
    width: 100%;
    border-radius: $card-borderRadius;
    background-color: $white-color;
    display: flex;
    align-items: center;
    justify-content: center;
}

.savingsGoals-container-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); //445
    gap: 2rem;

    @media (max-width: 500px) {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); //445
    }
}