.Amount{
    display: flex;
    justify-content: space-between;
    list-style: none;
    background-color: $white-color;
    border: $card-border;    
    border-style:none none solid none;
    margin: 0 1rem 0  1rem ;
    align-items: center;
    padding: 1rem 1.5rem 1rem 1rem;
    li{
        font: normal 16px $font-title;
    }
   
    .AmountType{
        font: 600 16px $font-title;
    }
    .AmountCategory{
        font: 700 16px $font-title;
        color: $dark-violet;
        background-color: $dark-violetRGBA;
        border-radius:20px ;
        padding: 0.2rem 1rem 0.2rem 1rem;
    }
}
.AmountDetail{
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 100%;
    
    border: $card-border;
    border-style:none none solid none;
    padding: 1.5rem 1rem 1.5rem 1rem;
  
    align-items: center;
    li{
        font: normal 18px $font-title;
    }
    
}