.cardGraphics-div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    h2{
        font: $heading-fontsize-xxl;
    }
} 
.cardGraphics-article{
    background-color: $white-color;
    border: $card-border;
    border-radius: $card-borderRadius;
   padding: 1rem;
    .cardGraphics-article-div{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;    
        .cardGraphics-article-div-section{
            width: 40%;
        }
    }
}
