.cardGraphics-div{
    display: flex;
    justify-content: space-between;
    
    margin-bottom: 1rem;
    h2{
        font: $heading-fontsize-xxl;
    }
} 
.cardGraphics-article{
    .cardGraphics-article-div{
        display: flex;
        flex-direction: column;
        .graphicsAndList{
            display: flex;
            width: 100%;
            flex-wrap: wrap;
        }
        
        
        .cardGraphics-article-div-section{
            width: 40%;
        }
    }
}
