.dashboard {
  width: 100%;
  .dashboard-first-article {
    display: inline-flex;
    align-items: center;
    width: 100%;
    margin-bottom: 4rem;
    gap: 1.875rem;
    }
  .dashboard-second-article {
    margin-bottom: 6rem;
    .dashboard-second-article-section {
      background-color: $white-color;
      border: $card-border;
      border-radius: $card-borderRadius;
      padding: 2.5rem;
     
    }
  }
  h2 {
    font: $heading-fontsize-xxl;
    margin-bottom: 2rem;
  }
  .dashboard-third-article {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 2rem;
    margin-bottom: 1rem;
    width: 100%;
  }
}
